#div1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}

#div2 {

    width: 55%;
    margin: auto;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
    text-indent: 10px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.aa {

    color: gold;

}

.i {
    color: goldenrod;
}

#öö {

    background-color: yellow;
    border-radius: 2px;
    color: black;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
}

body {
    background-color: thistle;
}
 #link {

    border-radius: 3px;
    border-width: 10cm;
    background-color: darkgoldenrod;
    text-decoration: none;
    
    padding: 5px 5px 5px 5px;
 }
    
    

 #nn {

    text-align: center;
    padding: 20px;
 }

 .pp {

text-align: right 20cm;

 }
 #ss {

    color: gold;
 }